---
permalink: anchorshowcase/assets/styles.css
---
{% extends 'css/styles.css' %}

{% block vars %}
:root {
  --white:                #ffffff;
  --light-grey:           #f4f4f4;
  --accent-lightest:      #fffafc;
  --accent-lighter:       #f8d4e1;
  --accent-pale:          #fd5d95;
  --accent-mid:           #f34b86;
  --accent-mild:          #c4205f;
  --accent-vivid:         #e11d82;
  --accent-vivid-dark:    #b91959;
  --accent-vivid-darker:  #ae1462;
  --accent-vivid-darkest: #7b0b41;
  --accent-dark:          #870e3d;
  --accent-alpha:         rgba(196, 32, 90, 0.25);
  --accent-alpha-bright:  rgba(225, 29, 124, 0.8);
  --twitter:              #007ee3;
  --twitter-dark:         #0062b0;
  --twitter-darker:       #005aa2;
}
{% endblock %}
