<!DOCTYPE html>
<html lang="en-GB">
  {% include 'partials/head.njk' %}
  <body class="page-{{ page.url | replace("/", "") }}" itemscope itemtype="http://schema.org/CreativeWork">

    {% include 'partials/header.njk' %}

    {{ content | safe }}

    {% include 'partials/footer.njk' %}

    <!-- Fancy javascript -->
    <script type="text/javascript">
      // Parallax header content
      window.onscroll = function emParallax() {
          if(window.pageYOffset>1) {
              document.getElementById("parallax").style["-webkit-transform"] = "translateY("+(window.pageYOffset/3)+"px)";
          } else {
              document.getElementById("parallax").style["-webkit-transform"] = "translateY(0px)";
          }
      }

      // Mobile menu toggle
          var menu = document.querySelector('.menu'),
              button = document.querySelector('.toggle');
          button.addEventListener('click', function(e) {
              e.preventDefault();
              menu.classList.toggle('open');
          });

      // After midnight but before 5am...
      var currentTime = new Date().getHours();
      if (0 <= currentTime&&currentTime < 5 || localStorage.nightMode=="true") {
        document.querySelector('head').insertAdjacentHTML("beforeend", "<link rel='stylesheet' href='/assets/gizmo.css' type='text/css' title='gizmo'>");
      }
      window.onkeypress = function(e) {
        // Pressing 'n' adds...
        if( e.keyCode == 110 ) {
          localStorage.nightMode = true;
          if(!document.querySelector('link[title=gizmo]')){
            document.querySelector('head').insertAdjacentHTML("beforeend", "<link rel='stylesheet' href='/assets/gizmo.css' type='text/css' title='gizmo'>");
          }
        }
        // Pressing 'd' removes...
        if( e.keyCode == 100 ) {
          localStorage.nightMode = false;
          document.querySelector('link[title=gizmo]').remove();
        }
      }

      // The turret wants to know...
      var title = document.title;
      var alttitle = "Are you still there?";
      window.onblur = function () { document.title = alttitle; };
      window.onfocus = function () { document.title = title; };
    </script>
  </body>
</html>
