---
layout: "layouts/default.njk"
---

<main class="main page">
  <article class="article container">
    <div class="row">
      <div class="span-8">
        {% if description %}
          <h2 itemprop="description">{{ description }}</h2>
        {% endif %}
        <div itemprop="about">{{ content }}</div>
      </div>
      <aside class="aside span-4">
        <h2>Useful Pages</h2>
        <ul>
          {% for item in site.sidebar %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </aside>
    </div>
  </article>
</main>
