---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /anchorthemes/category/{{ tag | replace(" ", "-") | lower }}/
layout: "layouts/default"
---
{% from "partials/header.njk" import header %}
{% from "partials/footer.njk" import footer %}

{% block header %}
  {{ header(site.anchorthemes, page, tag) }}
{% endblock %}

<main class="main">
  <div class="container">
    <div class="row">
      {% from "partials/card-theme.njk" import card %}
      {% set tagList = collections[tag] %}
      {% for item in tagList | reverse %}
        {{ card(item, loop.index) }}
      {% endfor %}
      {% include 'partials/ad-pact.njk' %}
      </div>
  </div>
</main>

{% block footer %}
  {{ footer(site.anchorthemes, page) }}
{% endblock %}
