---
permalink: anchorthemes/assets/styles.css
---
{% extends 'css/styles.css' %}

{% block vars %}
:root {
  --white:                #ffffff;
  --light-grey:           #f4f4f4;
  --accent-lightest:      #fdf8f2;
  --accent-lighter:       #f8e7d3;
  --accent-pale:          #ffb355;
  --accent-mid:           #f5a541;
  --accent-mild:          #c6720a;
  --accent-vivid:         #e36500;
  --accent-vivid-dark:    #bb6700;
  --accent-vivid-darker:  #b04e00;
  --accent-vivid-darkest: #7d3800;
  --accent-dark:          #884b00;
  --accent-alpha:         rgba(198, 114, 10, 0.25);
  --accent-alpha-bright:  rgba(227, 101, 0, 0.8);
  --twitter:              #007ee3;
  --twitter-dark:         #0062b0;
  --twitter-darker:       #005aa2;
}
{% endblock %}
