{% extends "layouts/default.njk" %}

{% from "partials/head.njk" import head %}
{% from "partials/header.njk" import header %}
{% from "partials/footer.njk" import footer %}
{% from "partials/ad.njk" import ad %}

{% block head %}
  {{ head(site.anchorshowcase, page, title, description) }}
{% endblock %}

{% block header %}
  {{ header(site.anchorshowcase, page, "") }}
{% endblock %}

{% block main %}
  <main class="main">
    <div class="container">
      <div class="row">
        {% from "partials/card-site.njk" import card %}
        {% for item in collections.sites | reverse %}
          {{ card(item, site.anchorshowcase, loop.index) }}
        {% endfor %}
        {{ ad(site.anchorshowcase) }}
      </div>
    </div>
  </main>
{% endblock %}

{% block footer %}
  {{ footer(site.anchorshowcase, page) }}
{% endblock %}
