{% extends "layouts/default.njk" %}

{% from "partials/head.njk" import head %}
{% from "partials/header.njk" import header %}
{% from "partials/footer.njk" import footer %}
{% from "partials/ad.njk" import ad %}

{% block head %}
  {{ head(site.anchorshowcase, page, title, description) }}
{% endblock %}

{% block header %}
  {{ header(site.anchorshowcase, page, title) }}
{% endblock %}

{% block main %}
  <main class="main theme">
    <article class="article container">
      <div class="row">
        <div class="span-5">
          <h2 itemprop="description">{{ description }}</h2>
          <div itemprop="about">{{ content | safe }}</div>

          {% if author %}
            {% set authorLine %}
              {% if author.url %}
                <a itemprop="creator" target="_blank" rel="noopener" href="{{ author.url }}">{{ author.name }}</a>
              {% else %}
                {{ author.name }}
              {% endif %}
            {% endset %}
            <h3>By {{ authorLine | safe }}</h3>
          {% endif %}

          <h3>Filed under <a itemprop="genre" href="/category/{{ tags[1] | lower | replace(" ", "-") }}">{{ tags[1] }}</a></h3>
          <p>
            {% if links.site %}
              <a itemprop="sameAs" href="{{ links.demo }}">View site <svg class="icon icon-browser"><use xlink:href="#icon-browser"></use></svg></a>
            {% endif %}

            {% set twitterText %}Check out {{ title }} {% if author.name %}by {{ author.name }}{% endif %}{% endset %}

            <a class="button button--tweet" href="http://twitter.com/intent/tweet?text={{ twitterText | replace(" ", "%20") }}&amp;url={{ site.url + page.url }}&amp;via={{ site.twitter }}" class="entypo-twitter" target="_blank" rel="noopener">Tweet <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
          </p>
        </div>
        <div class="span-7 screens">
          <div class="slider">
            {% if images %}
              {% for image in images %}
                <img itemprop="image" src="{{ image }}" alt="{{ title }} image one" width="1080" height="840" />
              {% endfor %}
            {% else %}
              <img src="{{ site.url }}/assets/images/placeholder-large.gif" alt="Temporary image" width="1080" height="840" />
            {% endif %}
          </div>
        </div>
      </div>
    </article>
    <section class="container related">
      <div class="row">
        <h2 class="span-12">Related Sites</h2>
        {% from "partials/card-site.njk" import card %}
        {% for item in collections.sites %}
          {% if tags[1] in item.data.tags[1] %}
            {{ card(item, site.anchorshowcase, loop.index) }}
          {% endif %}
        {% endfor %}
        {{ ad(site.anchorshowcase) }}
      </div>
    </section>
  </main>
  <!-- Super simple slider plugin from http://responsive-slides.viljamis.com -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.55/responsiveslides.js"></script>
  <script type="text/javascript">
      // responsiveslides.min.js run script.
      $(function () {
              $(".slider").responsiveSlides({
                  nav: true,
                  pause: true,
                  prevText: `<svg class="icon icon-chevron-thin-left"><use xlink:href="#icon-chevron-thin-left"></use></svg>`,
                  nextText: `<svg class="icon icon-chevron-thin-right"><use xlink:href="#icon-chevron-thin-right"></use></svg>`,
              });
      });
      // Mobile menu toggle
      $(document).ready(function() {
          var menu = $('.menu'),
              button = $('.toggle');
          button.on('click', function(e) {
              e.preventDefault();
              menu.toggleClass('open');
          });
      });
      // Parallax header content
      window.onscroll = function emParallax() {
          if(window.pageYOffset>1) {
              document.getElementById("parallax").style["-webkit-transform"] = "translateY("+(window.pageYOffset/3)+"px)";
          } else {
              document.getElementById("parallax").style["-webkit-transform"] = "translateY(0px)";
          }
      }
  </script>
{% endblock %}

{% block footer %}
  {{ footer(site.anchorshowcase, page) }}
{% endblock %}
