html {
  -webkit-filter: invert(100%) contrast(1.4);
}
body {
  -webkit-backface-visibility: hidden;
}
img,
pictire,
a.tweet {
  -webkit-filter: invert(100%) contrast(0.8);
}
.button img,
.logo img {
  -webkit-filter: invert(0%);
}
