:root {
  --white: #ffffff;
  --light-grey: #f4f4f4;
  --accent-lightest: #fdf8f2;
  --accent-lighter: #f8e7d3;
  --accent-pale: #ffb355;
  --accent-mid: #f5a541;
  --accent-mild: #c6720a;
  --accent-vivid: #e36500;
  --accent-vivid-dark: #bb6700;
  --accent-vivid-darker: #b04e00;
  --accent-vivid-darkest: #7d3800;
  --accent-dark: #884b00;
  --accent-alpha: rgba(198, 114, 10, 0.25);
  --accent-alpha-bright: rgba(227, 101, 0, 0.8);
  --twitter: #007ee3;
  --twitter-dark: #0062b0;
  --twitter-darker: #005aa2;
  --background: url(images/bg.jpg);
}

.container {
  max-width: 1200px;
  clear: both;
  float: none;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.row:after,
.row:before {
  display: none;
}
[class*="span-"] {
  margin-left: 0;
  float: none;
  grid-column-end: span 12;
}

.span-1 {
  width: auto;
  grid-column-end: span 1;
}

.span-2 {
  width: auto;
  grid-column-end: span 2;
}

.span-3 {
  width: auto;
  grid-column-end: span 3;
}

.span-4 {
  width: auto;
  grid-column-end: span 4;
}

.span-5 {
  width: auto;
  grid-column-end: span 5;
}

.span-6 {
  width: auto;
  grid-column-end: span 6;
}

.span-7 {
  width: auto;
  grid-column-end: span 7;
}

.span-8 {
  width: auto;
  grid-column-end: span 8;
}

.span-9 {
  width: auto;
  grid-column-end: span 9;
}

.span-10 {
  width: auto;
  grid-column-end: span 10;
}

.span-11 {
  width: auto;
  grid-column-end: span 11;
}

.span-12 {
  width: auto;
  grid-column-end: span 12;
}
[class*="span-"].shift-1 {
  grid-column-start: 1;
}
[class*="span-"].shift-2 {
  grid-column-start: 2;
}
[class*="span-"].shift-3 {
  grid-column-start: 3;
}
[class*="span-"].shift-4 {
  grid-column-start: 4;
}
[class*="span-"].shift-5 {
  grid-column-start: 5;
}
[class*="span-"].shift-6 {
  grid-column-start: 6;
}
[class*="span-"].shift-7 {
  grid-column-start: 7;
}
[class*="span-"].shift-8 {
  grid-column-start: 8;
}
[class*="span-"].shift-9 {
  grid-column-start: 9;
}
[class*="span-"].shift-10 {
  grid-column-start: 10;
}
[class*="span-"].shift-11 {
  grid-column-start: 11;
}

img {
  max-width: 100%;
  height: auto;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes fadein {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  20% {
    transform: translateY(15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    /* Start position, normal */
    animation-timing-function: ease-out;
    /* No easing leaving this position, but eases into the next position */
  }
  25% {
    transform: rotate(20deg);
    /* Swing backwards 45 degrees */
    animation-timing-function: ease-in;
    /* Ease into this position from the previous position */
  }
  50% {
    transform: rotate(0deg);
    /* Half way through the swing, same as start position */
    animation-timing-function: ease-out;
    /* No easing leaving this position, but eases into the next position */
  }
  75% {
    transform: rotate(-20deg);
    /* Swing forward 45 degrees */
    animation-timing-function: ease-in;
    /* Ease into this position from the previous position */
  }
  100% {
    transform: rotate(0deg);
    /* Back to start position, will restart loop and appear seamless */
    animation-timing-function: ease-out;
    /* No easing leaving this position, but eases into the next position */
  }
}

body {
  background: var(--accent-lightest);
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--accent-vivid-darkest);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: none;
}
body,
html {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: var(--accent-vivid-darkest);
}
h1 {
  font-size: 2.3em;
  line-height: 1.1em;
  margin: 0.8em 0;
}
h2 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 0 0 0.4em 0;
  color: var(--accent-vivid-darkest);
}
h3 {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3em;
  margin: 0 0 0.7em 0;
}
h3 a {
  font-weight: 500;
}
p {
  font-weight: 400;
  line-height: 1.8em;
  margin: 0;
  padding: 0 0 1.4em 0;
  color: var(--accent-vivid-darkest);
}
a {
  color: var(--accent-vivid);
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a:hover {
  color: var(--accent-vivid-darker);
}
a:active {
  color: var(--accent-vivid-darkest);
}
img {
  border: 0;
}
svg {
  fill: currentColor;
}
ul {
  padding: 0 0 1.2em 1.4em;
  line-height: 2em;
  margin: 0;
}
li li {
  list-style-type: circle;
}
blockquote {
  font-size: 1.7em;
  line-height: 1.4em;
  font-weight: 300;
  quotes: "\201C""\201D""\2018""\2019";
  color: var(--accent-mild);
  position: relative;
}
blockquote:before {
  content: open-quote;
  color: var(--accent-pale);
  font-size: 4em;
  top: 0.25em;
  left: -0.5em;
  position: absolute;
}
blockquote:after {
  content: no-close-quote;
}
cite {
  color: var(--accent-pale);
  display: block;
  font-size: 0.9em;
}
small {
  font-size: 0.85em;
  font-weight: 400;
  color: var(--accent-mild);
}
strong {
  font-weight: 500;
}
code {
  background: var(--accent-lightest);
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid var(--accent-lighter);
}
pre {
  overflow-x: scroll;
  background: var(--accent-lightest);
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid var(--accent-lighter);
}
pre code {
  background: none;
  padding: 0;
  border-radius: 0;
  border: none;
}
::selection {
  background: var(--accent-vivid);
  color: var(--accent-lightest);
}

.placeholder {
  width: 100%;
  height: auto;
  padding: 0 40%;
  fill: #777777;
}

.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: bottom;
}

a.button,
.screens a,
.screens:hover a,
.share-button label,
.share-button a {
  display: inline-block;
  line-height: 1.2em;
  transition: background 0.2s;
  background: var(--accent-vivid);
  color: var(--accent-lightest);
  padding: 0.65em 1em 0.67em;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
}
a.button span,
.screens a span,
.screens:hover a span,
.share-button label span,
.share-button a span {
  text-transform: capitalize;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0.3em;
}
a.button--tweet {
  background: var(--twitter);
}
a.button.button--tweet:hover {
  background: var(--twitter-dark);
}
a.button.button--tweet:active {
  background: var(--twitter-darker);
}
a.button:hover,
.screens a:hover,
.screens:hover a:hover,
.share-button label:hover,
.share-button a:hover {
  background: var(--accent-vivid-darker);
  opacity: 1;
}
a.button:active,
.screens a:active,
.screens:hover a:active,
.share-button label:active,
.share-button a:active {
  color: var(--accent-lightest);
  background: var(--accent-vivid-darkest);
}

.share-button {
  display: inline-block;
  overflow: hidden;
  border-right: 0.5em solid var(--twitter);
  border-radius: 5px;
  transition: border 0.2s;
  line-height: 2.45em;
}

.share-button:hover {
  border-color: var(--twitter-dark);
}

.share-button:hover label {
  background: var(--twitter-dark);
}

.share-button a {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  max-width: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  transition: 0.5s;
}

.share-button label {
  background: var(--twitter);
  user-select: none;
  padding-right: 0.5em;
  border-radius: 5px 0 0 5px;
}

.share-button label,
.share-button a {
  vertical-align: top;
  color: var(--accent-lightest);
}

.share-button input {
  position: absolute;
  left: -100%;
}

.share-button input:checked + span a {
  min-width: 24px;
  max-width: 80px;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.button:before,
.entypo-share:before,
.share-button a:before {
  display: none;
}

.buttons {
  position: absolute;
  transition: opacity 0.2s;
  opacity: 0;
}

.figure {
  margin-top: 0;
  margin-bottom: 15px;
  margin-right: 0;
  position: relative;
}

.menu .logo {
  margin: 0;
}

.menu .logo:hover svg {
  animation: swing 0.8s infinite;
}

.menu {
  font-weight: 500;
  float: left;
}

.menu svg {
  margin: -12px 0 -7px;
  transform-origin: 50% 18%;
}

.menu a {
  margin-left: 60px;
}

.header .aside {
  text-align: right;
}

.banner {
	padding: 1em 1.6em;
	text-align: center;
	background: #3466b1;
	color: white;
}

.banner p, .banner a {
	color: inherit;
	margin: 0 0 .2em;
}

.banner	a {
	font-weight: 500;
}

.header {
  overflow: hidden;
  position: relative;
  background: var(--accent-lightest) var(--background);
  background-size: cover;
  background-position: center 55%;
}

.header .menu,
.header .aside {
  padding: 3em 0;
  transition: 0.2s;
}

.header .figure {
  margin-bottom: -6em;
  box-shadow: 0 0 20px var(--accent-alpha);
  animation: fadein 1.7s;
}

.header .hgroup {
  padding-top: 2.5em;
  animation: fadein 1.9s;
}

.header h2 {
  font-size: 1.85em;
  line-height: 1.3em;
  font-weight: 300;
  color: var(--accent-mild);
}

.header .buttons {
  width: 100%;
  text-align: center;
  bottom: 6em;
  left: 0;
  margin-left: -5px;
}

.buttons a + a {
  margin-left: 10px;
}

.header p {
  color: var(--accent-vivid-dark);
  line-height: 1.3em;
  padding-bottom: 0.5em;
}

.toggle {
  position: absolute;
  height: 35px;
  width: 25px;
  bottom: 7px;
  right: 0;
  padding: 0;
  border: 0;
  background: none;
  display: none;
}

.toggle span,
.toggle span:before,
.toggle span:after {
  display: block;
  position: relative;
  background: var(--accent-alpha-bright);
  width: 25px;
  height: 4px;
  padding: 0;
  content: "";
  border-radius: 1px;
}

.toggle span:after {
  top: 4px;
}

.toggle span:before {
  top: -8px;
}

.article img {
  width: 100%;
}

.article:hover .buttons {
  opacity: 1;
}

.main {
  background: var(--accent-lighter);
  display: block;
  padding: 2.4em 0 0.4em 0;
}

.main .article {
  transition: background 0.2s;
  background: var(--accent-lightest);
  border-radius: 5px;
  margin-bottom: 2em;
}

.main .article:hover {
  background: var(--white);
}

.main .article:hover .hgroup:after {
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), var(--white));
  background-repeat: repeat-x;
  border-right: 8px solid var(--white);
}

.main .article .buttons {
  bottom: 15px;
  left: 15px;
}

.main .article.container {
  background: none;
}

.main .figure {
  margin-left: 0;
  max-height: 10.6rem;
  overflow: hidden;
}

.main .figure > a {
  background: var(--light-grey);
  padding-top: 10px;
  border-radius: 5px 5px 0 0;
  display: block;
  line-height: 0;
  overflow: hidden;
}

.main .hgroup {
  position: relative;
  padding: 0 20px 20px;
  overflow: hidden;
}

.main .hgroup:after {
  transition: 0.2s;
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 15%;
  background-image: linear-gradient(
    left,
    rgba(253, 248, 242, 0),
    var(--accent-lightest)
  );
  background-repeat: repeat-x;
  border-right: 8px solid var(--accent-lightest);
  top: -20px;
  right: 0;
}

.container {
  padding-left: 2%;
  padding-right: 2%;
}

.article.ad,
.ad .figure > a {
  background: var(--accent-lightest);
}

.article.ad .button,
.ad .figure > a .button {
  background: var(--twitter);
}

.article.ad .button:hover,
.ad .figure > a .button:hover {
  background: var(--twitter-dark);
}

.pagination {
  font-weight: 500;
  text-align: center;
  padding: 1.5em 0 3.2em 0;
}

.pagination a {
  padding: 0 10px;
}

.footer {
  font-size: 0.9em;
  font-weight: 400;
  padding-top: 4em;
  padding-bottom: 4em;
  clear: both;
}

.footer p {
  line-height: 1.4em;
  color: var(--accent-mid);
  margin: 0;
}

.footer .menu {
  text-align: right;
}

.footer .menu a {
  margin-left: 35px;
}

.name h1 {
  margin: 1.9em 0 2em 0;
}

.page {
  padding-top: 2em;
}

.article.container,
.article.container:hover {
  padding-bottom: 50px;
  background: none;
}

.article.container h2,
.article.container:hover h2 {
  font-size: 1.85em;
  line-height: 1.3em;
  font-weight: 300;
  color: var(--accent-mild);
}

.article.container h3,
.article.container:hover h3 {
  font-weight: 500;
  color: var(--accent-mild);
}

.article.container .button,
.article.container:hover .button,
.article.container span.share-btn.sharer-0,
.article.container:hover span.share-btn.sharer-0 {
  margin: 1.1em 1.1em 0 0;
  vertical-align: text-top;
}

.screens,
.error {
  margin-top: -6em;
  position: relative;
  box-shadow: 0 0 20px var(--accent-alpha);
  line-height: 0;
  align-self: stretch;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.screens a,
.error a {
  background: none;
  color: var(--accent-vivid);
}

.screens:hover a,
.error:hover a,
.screens a,
.error a {
  padding-left: 0.4em;
  padding-right: 0.4em;
  line-height: 0.2em;
}

.screens .rslides_nav,
.error .rslides_nav {
  position: absolute;
  top: 47%;
  font-size: 1.4em;
  z-index: 2;
}

.screens .prev,
.error .prev {
  left: 10px;
}

.screens .next,
.error .next {
  right: 10px;
}

.related .row > h2 {
  font-size: 1.85em;
  line-height: 1.3em;
  font-weight: 300;
  color: var(--accent-mild);
}

.rslides {
  position: relative;
  overflow: hidden;
}

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
}
@media (min-width: 2000px) {
  body {
    font-size: 20px;
  }
  a.button {
    line-height: 0.8em;
  }
  a.button.icon {
    height: 0.9em;
  }

  .logo svg {
    width: 1.5em;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  body {
    font-size: 11px;
  }

  .menu a {
    margin-left: 22px;
  }

  .footer .menu a {
    margin-left: 16px;
  }
}
@media (max-width: 767px) {
  .toggle {
    display: block;
  }

  .menu {
    float: none;
    text-align: center;
    position: relative;
  }

  .menu .logo {
    width: auto;
    padding: 0.4em 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .menu svg {
    position: relative;
    margin: 0;
  }

  .menu a {
    margin: 0;
    padding: 0.3em 0;
    display: block;
  }

  .header .aside {
    text-align: center;
    padding: 0;
    grid-column-end: span 6;
  }

  .header .aside span {
    display: none;
  }

  .header strong {
    width: 100%;
    float: left;
    margin-bottom: 0.3em;
  }

  .header .hgroup {
    padding: 0;
  }

  .related .row > h2 {
    grid-column: 1 / -1;
    margin: 0 0 0.3em;
  }

  .screens,
  .error {
    margin-top: 0;
  }

  .screens {
    order: -1;
  }

  .footer,
  .footer .menu {
    text-align: center;
  }

  .footer p,
  .footer .menu p {
    padding: 0 5em 2em;
  }
  h1 {
    max-width: 100%;
    text-align: center;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.9em;
  }

  .header h2 {
    display: none;
  }

  .header .menu {
    padding: 1em 0 3em 0;
    font-size: 1.5em;
    margin-top: -182px;
    grid-column-end: span 6;
  }

  .header .open {
    margin-top: 0;
  }

  .button {
    line-height: 1.2em;
  }

  .footer .menu a {
    margin-left: 0;
    clear: both;
  }

  .container {
    padding-left: 4%;
    padding-right: 4%;
  }

  .row {
    grid-template-columns: repeat(6, 1fr);
  }

  .figure {
    margin-bottom: 10px;
  }

  .main .hgroup {
    padding: 0 10px 12px;
  }

  .main .article {
    margin-bottom: 1.4em;
  }
}
