---
permalink: "404.html"
layout: "layouts/default.njk"
title: "Page not found"
---

<main class="main page">
  <article class="article container">
    <div class="row">
      <section class="span-6">
        <h2>Page could not be found</h2>
        <p>The page <code>{{ page.url }}</code> was requested, but could not be found.<br/>
        Sorry about that, try returning to the <a href="/">homepage</a> and trying again.</p>
      </section>
      <aside class="span-6">
        <img class="error" src="/assets/images/404s/1.gif" alt="Four Oh Four" />
      </aside>
    </div>
  </article>
</main>

<script type="text/javascript">
  document.querySelector('.error').setAttribute('src', `/assets/images/404s/${Math.floor(Math.random() * (8 - 1 + 1)) + 1}.gif`);
</script>
