---
permalink: _redirects
eleventyExcludeFromCollections: true
---

https://anchorthemes.netlify.com/* {{ site.url }}/:splat 301!
/theme                        /                                                                                301
/submit                       https://github.com/daviddarnes/anchorthemes.com#submitting-a-theme-or-site       301
/theme/whitegrey              /submissions/whitegrey/                                                          301
/category/clean               /clean/                                                                          301
/theme/basic                  /basic/                                                                          301
/category/minimal             /minimal/                                                                        301
/category/content-driven      /content-driven/                                                                 301
/theme/barhop                 /submissions/barhop/                                                             301
/theme/brag-sheet             /submissions/brag-sheet/                                                         301
/category/bright              /bright/                                                                         301
/theme/booty                  /submissions/booty/                                                              301
/category/simple              /simple/                                                                         301
/theme/llama                  /theme/llama/                                                                    301
/theme/anchored-gallery       /theme/anchored-gallery/                                                         301
/theme/thought-essays         /theme/thought-essays/                                                           301
/theme/cirx                   /submissions/cirx/                                                               301
/theme/stanley/               /submissions/stanley/                                                            301
/theme/anchor-skeleton-theme  /submissions/anchor-skeleton-theme/                                              301
/category/frameworks          /frameworks/                                                                     301
/theme/dockyard               /submissions/dockyard/                                                           301
/theme/iwrite                 /submissions/iwrite/                                                             301
/theme/balzac                 /submissions/balzac/                                                             301
/theme/bushwick               /submissions/bushwick/                                                           301
/theme/blue                   /submissions/blue/                                                               301
/theme/zleek                  /submissions/zleek/                                                              301
/theme/write                  /submissions/write/                                                              301
/theme/dark-bar               /submissions/dark-bar/                                                           301
/theme/default                /submissions/default/                                                            301
/theme/manifesto              /submissions/manifesto/                                                          301
/theme/taken                  /submissions/taken/                                                              301
/theme/prototype              /submissions/prototype/                                                          301
/theme/plain                  /submissions/plain/                                                              301
/theme/greaves                /submissions/greaves/                                                            301
/theme/writerious             /submissions/writerious/                                                         301
/theme/sando                  /submissions/sando/                                                              301
/theme/elcapor                /submissions/elcapor/                                                            301
/theme/awetheme               /submissions/awetheme/                                                           301
/theme/ancora                 /submissions/ancora/                                                             301
/theme/anchor-foundation      /submissions/anchor-foundation/                                                  301
/theme/ticket                 /submissions/ticket/                                                             301
/category/powerful            /powerful/                                                                       301
