---
permalink: _redirects
---

# Redirects for Anchor Showcase
# https://anchorshowcase.com/*                                 https://anchorthems.com/showcase/
# https://anchorshowcase.com/oilvier-comastri/                 /oilvier-comastri/
# https://anchorshowcase.com/three/                            /three/
# https://anchorshowcase.com/love-coffee/                      /love-coffee/
# https://anchorshowcase.com/prevue-blog/                      /prevue-blog/
# https://anchorshowcase.com/kettle/                           /kettle/
# https://anchorshowcase.com/sonnylab/                         /sonnylab/

# Redirects for Anchor Themes
/theme                        /
/submit                       https://github.com/daviddarnes/anchorthemes.com#submitting-a-theme-or-site
/theme/whitegrey              /submissions/whitegrey/
/category/clean               /clean/
/theme/basic                  /basic/
/category/minimal             /minimal/
/category/content-driven      /content-driven/
/theme/barhop                 /submissions/barhop/
/theme/brag-sheet             /submissions/brag-sheet/
/category/bright              /bright/
/theme/booty                  /submissions/booty/
/category/simple              /simple/
/theme/llama                  /theme/llama/
/theme/anchored-gallery       /theme/anchored-gallery/
/theme/thought-essays         /theme/thought-essays/
/theme/cirx                   /submissions/cirx/
/theme/stanley/               /submissions/stanley/
/theme/anchor-skeleton-theme  /submissions/anchor-skeleton-theme/
/category/frameworks          /frameworks/
/theme/dockyard               /submissions/dockyard/
/theme/iwrite                 /submissions/iwrite/
/theme/balzac                 /submissions/balzac/
/theme/bushwick               /submissions/bushwick/
/theme/blue                   /submissions/blue/
/theme/zleek                  /submissions/zleek/
/theme/write                  /submissions/write/
/theme/dark-bar               /submissions/dark-bar/
/theme/default                /submissions/default/
/theme/manifesto              /submissions/manifesto/
/theme/taken                  /submissions/taken/
/theme/prototype              /submissions/prototype/
/theme/plain                  /submissions/plain/
/theme/greaves                /submissions/greaves/
/theme/writerious             /submissions/writerious/
/theme/sando                  /submissions/sando/
/theme/elcapor                /submissions/elcapor/
/theme/awetheme               /submissions/awetheme/
/theme/ancora                 /submissions/ancora/
/theme/anchor-foundation      /submissions/anchor-foundation/
/theme/ticket                 /submissions/ticket/
/category/powerful            /powerful/
