{% macro card(item, site, index) %}
  {% set url = item.url if item.data.env == "dev" else item.url.replace("anchorshowcase/", "") %}
  <article class="article span-3" itemscope itemtype="http://schema.org/CreativeWork">
    <figure class="figure">
      <a href="{{ url }}">
        {% if item.data.images %}
          <img itemprop="image" src="{{ url + item.data.images[0] }}" alt="{{ item.data.title }}" />
        {% else %}
          <svg class="placeholder"><use xlink:href="#icon-image"></use></svg>
        {% endif %}
      </a>
      <span class="buttons">
        {% if item.data.links.url %}
          <a itemprop="url" href="{{ item.data.links.url }}" class="button" target="_blank" rel="noopener" title="View {{ site.title }}">
            <svg class="icon icon-browser"><use xlink:href="#icon-browser"></use></svg>
          </a>
        {% endif %}
      </span>
    </figure>
    <div class="hgroup">
      <h2>
        <a itemprop="name" href="{{ url }}">{{ item.data.title }}</a>
        {% if item.data.author %}
          {% set authorLine %}
            {% if item.data.author.url %}
              <a itemprop="creator" target="_blank" rel="noopener" href="{{ item.data.author.url }}">{{ item.data.author.name }}</a>
            {% else %}
              {{ item.data.author.name }}
            {% endif %}
          {% endset %}
          by {{ authorLine | safe }}
        {% endif %}
      </h2>
      <h3>Filed under <a itemprop="genre" href="/anchorshowcase/category/{{ item.data.tags[1] | lower | replace(" ", "-") }}">{{ item.data.tags[1] }}</a></h3>

      <small>Added <time itemprop="dateCreated" datetime="{{ item.date }}">{{ item.date.toLocaleDateString("en-GB", { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) }}</time></small>
    </div>
  </article>
{% endmacro %}
