{% macro feature(item) %}
  {% set url = item.url if item.data.env == "dev" else item.url.replace("anchorshowcase/", "") %}
  <article class="article row" id="parallax">
    <div class="span-6 hgroup">
      <h1>Featured site: <a itemprop="name" href="{{ url }}">{{ item.data.title }}</a></h1>
      <h2 itemprop="description">{{ item.data.description }}</h2>
    </div>
    <figure class="figure span-6">
      <a href="{{ url }}">
        {% if item.data.images %}
          <img itemprop="image" src="{{ url + item.data.images[0] }}" alt="{{ item.data.title }} image one">
        {% else %}
          <svg class="placeholder"><use xlink:href="#icon-image"></use></svg>
        {% endif %}
      </a>
      <span class="buttons">
        {% if item.data.links.url %}
          <a class="button" itemprop="sameAs" href="{{ item.data.links.url }}">View site <svg class="icon icon-browser"><use xlink:href="#icon-browser"></use></svg></a>
        {% endif %}
      </span>
    </figure>
  </article>
{% endmacro %}
