{% macro feature(item) %}
  {% set url = item.url if item.data.env == "dev" else item.url.replace("anchorthemes/", "") %}
  <article class="article row" id="parallax">
    <div class="span-6 hgroup">
      <h1>Featured theme: <a itemprop="name" href="{{ url }}">{{ item.data.title }}</a></h1>
      <h2 itemprop="description">{{ item.data.description }}</h2>
    </div>
    <figure class="figure span-6">
      <a href="{{ url }}">
        <img itemprop="image" src="{{ url + item.data.images[0] if item.data.images[0] else "/assets/images/placeholder-large.gif" }}" alt="{{ item.data.title }} image one" width="1080" height="840">
      </a>
      <span class="buttons">
        {% if item.data.links.download %}
          <a class="button" itemprop="url" href="{{ item.data.links.download }}">Download <svg class="icon icon-install"><use xlink:href="#icon-install"></use></svg></a>
        {% endif %}
        {% if item.data.links.repo %}
          <a class="button" itemprop="url" href="{{ item.data.links.repo }}">View repo <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
        {% endif %}
        {% if item.data.links.demo %}
          <a class="button" itemprop="sameAs" href="{{ item.data.links.demo }}">View demo <svg class="icon icon-browser"><use xlink:href="#icon-browser"></use></svg></a>
        {% endif %}
      </span>
    </figure>
  </article>
{% endmacro %}
