{% macro feature(theme, site) %}
  <article class="article row" id="parallax">
    <div class="span-6 hgroup">
      <h1>Featured {{ site.collectionSingular }}: <a itemprop="name" href="{{ theme.url }}">{{ theme.data.title }}</a></h1>
      <h2 itemprop="description">{{ theme.data.description }}</h2>
    </div>
    <figure class="figure span-6">
      <a href="{{ theme.url }}">
        <img itemprop="image" src="{{ theme.url + theme.data.images[0] if theme.data.images[0] else "/assets/images/placeholder-large.gif" }}" alt="{{ theme.data.title }} image one" width="1080" height="840">
      </a>
      <span class="buttons">
        {% if theme.data.links.download %}
          <a class="button" itemprop="url" href="{{ theme.data.links.download }}">Download <svg class="icon icon-install"><use xlink:href="#icon-install"></use></svg></a>
        {% endif %}
        {% if theme.data.links.repo %}
          <a class="button" itemprop="url" href="{{ theme.data.links.repo }}">View repo <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
        {% endif %}
        {% if theme.data.links.demo %}
          <a class="button" itemprop="sameAs" href="{{ theme.data.links.demo }}">View demo <svg class="icon icon-browser"><use xlink:href="#icon-browser"></use></svg></a>
        {% endif %}
      </span>
    </figure>
  </article>
{% endmacro %}
