        <footer class="footer container">
            <div class="row">
                <aside class="span-6">
                    <p>&copy; {{ site.title }}. Created by <a href="https://darn.es">David Darnes</a>.</p>
                </aside>
                {% if site.nav.footer %}
                  <nav class="menu span-6" role="navigation">
                    {% for item in site.nav.footer %}
                      <a href="{{ item.url }}" {{ 'class="active"' if item.url == page.url }} {{ 'style=color:' + item.color if item.color }}>{{ item.title }}</a>
                    {% endfor %}
                  </nav>
                {% endif %}
            </div>
        </footer>
        <!-- Super simple slider plugin from http://responsive-slides.viljamis.com -->
        <script src="{{ site.url }}/assets/responsiveslides.min.js"></script>
        <script type="text/javascript">
            // responsiveslides.min.js run script.
            $(function () {
                    $(".slider").responsiveSlides({
                        nav: true,
                        pause: true,
                        prevText: `<svg class="icon icon-chevron-thin-left"><use xlink:href="#icon-chevron-thin-left"></use></svg>`,
                        nextText: `<svg class="icon icon-chevron-thin-right"><use xlink:href="#icon-chevron-thin-right"></use></svg>`,
                    });
            });
            // Mobile menu toggle
            $(document).ready(function() {
                var menu = $('.menu'),
                    button = $('.toggle');
                button.on('click', function(e) {
                    e.preventDefault();
                    menu.toggleClass('open');
                });
            });
            // Parallax header content
            window.onscroll = function emParallax() {
                if(window.pageYOffset>1) {
                    document.getElementById("parallax").style["-webkit-transform"] = "translateY("+(window.pageYOffset/3)+"px)";
                } else {
                    document.getElementById("parallax").style["-webkit-transform"] = "translateY(0px)";
                }
            }
        </script>
    </body>
</html>
