{% macro header(site, page, title) %}
  {% include 'partials/icons.svg' %}
  <header class="header">
    <div class="container">
      <div class="row">
        {% if site.nav.header %}
          <nav class="menu span-7" role="navigation">
            <a href="{{ site.url }}" title="{{ site.title }}" class="logo">
              <svg width="22" height="24"><use xlink:href="#logo"></use></svg>
            </a>
            {% for item in site.nav.header %}
              <a href="{{ item.url }}"{% if item.url === page.url %}class="active"{% endif %}>{{ item.title }}</a>
            {% endfor %}
            <a href="#" class="toggle"><span></span></a>
          </nav>
        {% endif %}
        <aside class="aside span-5">
          <p><strong>{{ site.title }}</strong> <span>–</span> {{ site.description | safe }}</p>
        </aside>
      </div>
      {% if page.url === '/' %}
        FEATURE HERE
      {% else %}
        <div id="parallax" class="name">
            <h1>{{ title }}</h1>
        </div>
      {% endif %}
    </div>
  </header>
{% endmacro %}
