<head>
  <title>
    {% if url == '/' %}
      {{ site.title }}
    {% else %}
      {{ title }} - {{ site.title }}
    {% endif %}
  </title>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/">

  <!-- Styles -->
  <link rel="stylesheet" href="/assets/styles.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <!-- Open graph meta -->
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="article:author" content="David Darnes" />

  <!-- Twitter meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter }}">
  <meta name="twitter:creator" content="@{{ site.author }}">
  <meta name="twitter:domain" content="https://anchorthemes.com">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png">
  <meta name="apple-mobile-web-app-title" content="⚓ {{ site.title }}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
  <meta name="application-name" content="{{ site.title }}" />

  <!-- Page relevant meta -->
  {% if url == site.url %}
    <!-- General meta -->
    <meta name="description" content="{{ site.description }}">

    <!-- Open graph meta -->
    <meta property="og:url" content="">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">

    <!-- Twitter meta -->
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
  {% else %}
    <!-- General meta -->
    <meta name="description" content="{{ description if description else site.description }}">

    <!-- Open graph meta -->
    <meta property="og:url" content="{{ site.url + url }}">
    <meta property="og:title" content="{{ title }} - {{ site.title }}">
    <meta property="og:description" content="{{ description if description else site.description }}">

    <!-- Twitter meta -->
    <meta name="twitter:url" content="{{ site.url + url }}">
    <meta name="twitter:title" content="{{ title }} - {{ site.title }}">
    <meta name="twitter:description" content="{{ description if description else site.description }}">
  {% endif %}

  <!-- Image relevant meta -->
  {% if images %}
    <!-- Open graph meta -->
    <meta property="og:image" content="{{ site.url + url + images[0] }}">

    <!-- Twitter meta -->
    <meta name="twitter:image" content="{{ site.url + url + images[0] }}">
  {% else %}
    <!-- Open graph meta -->
    <meta property="og:image" content="/assets/images/facebook.png">

    <!-- Twitter meta -->
    <meta name="twitter:image" content="/assets/images/twitter.png">
  {% endif %}
</head>
