{% include 'partials/icons.svg' %}
<header class="header">
  <div class="container row">
    {% if site.nav.header %}
      <nav class="menu span-7" role="navigation">
        <a href="/" title="{{ site.title }}" class="logo">
          <svg width="22" height="24"><use xlink:href="#logo"></use></svg>
        </a>
        {% for item in site.nav.header %}
          <a href="{{ item.url }}"{% if item.url === url %}class="active"{% endif %} {{ 'style=color:' + item.color if item.color }}>{{ item.title }}</a>
        {% endfor %}
        <a href="#" class="toggle"><span></span></a>
      </nav>
    {% endif %}
    <aside class="aside span-5">
      <p><strong>{{ site.title }}</strong> <span>–</span> {{ site.description | safe }}</p>
    </aside>
  </div>
  {% from "partials/feature.njk" import feature %}
  {% if page.url == "/" %}
    {{ feature(collections.featuredTheme[0]) }}
  {% elseif page.url == "/showcase/" %}
    {{ feature(collections.featuredSite[0]) }}
  {% else %}
    <div class="container" id="parallax" class="name">
      <h1>{% if title %}{{ title }}{% else %}{{ tag | capitalize }}{% endif %}</h1>
    </div>
  {% endif %}
</header>
