{% macro loopblock(theme) %}
  <article class="article span-3" itemscope itemtype="http://schema.org/CreativeWork">
    <figure class="figure">
      <a href="{{ theme.url }}">
        <img itemprop="image" src="{{ theme.data.image[0] if theme.data.image else '/assets/images/placeholder-small.gif' }}" alt="{{ theme.title }}" width="440" height="260" />
      </a>
      <span class="buttons">
        {% if theme.data.links.download %}
          <a itemprop="url" href="{{ theme.data.links.download }}" class="button icon entypo-down" title="Download {{ theme.title }}"></a>
        {% endif %}
        {% if theme.data.links.repo %}
          <a itemprop="url" href="{{ theme.data.links.repo }}" class="button icon entypo-repo" target="_blank" rel="noopener" title="View {{ theme.title }} Repo"></a>
        {% endif %}
      </span>
    </figure>
    <div class="hgroup">
      <h2>
        <a itemprop="name" href="{{ theme.url }}">{{ theme.data.title }}</a>
        {% if theme.data.author %}
          {%- set author -%}
            {% if theme.data.author.url %}
              <a itemprop="creator" target="_blank" rel="noopener" href="{{ theme.data.author.url }}">{{ theme.data.author.name }}</a>
            {% else %}
              {{ theme.data.author.name }}
            {% endif %}
          {%- endset -%}
          by {{ author }}
        {% endif %}
      </h2>
      <h3>Filed under <a itemprop="genre" href="category/{{ theme.data.category | lower | replace(" ", "-") }}">{{ theme.data.category }}</a></h3>

      <small>Added <time itemprop="dateCreated" datetime="{{ theme.date }}">{{ theme.date.toLocaleDateString("en-GB", { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) }}</time></small>
    </div>
  </article>
{% endmacro %}
